<div class="footer-row">
    <!-- Column 1 -->
    <div class="footer-col">
        <a href="./" class="footer-logo">
            <img src="./assets/img/logo.svg" alt="logo footer" class="footer-logo_img">
        </a>
        <div class="footer-desc">Trụ sở chính: 104 Hùng Vương, Phường 2, TP.Tân An, Tỉnh Long An <br> GCNĐKKD: 1101780735 do Sở KH & ĐT tỉnh Long An cấp: 28/10/2016 <br> CN : Số 20 đường 3 Tháng 2, Phường 12, Quận 10, HCM <br> Email Sale Online, CSKH: chamsockhachhang@casio.com <br> Chịu trách nhiệm nội dung: Huỳnh Thị Yến Anh. Email: online@anhkhuewatch.com.vn</div>
        <div class="footer-help_text">Nhận tin tức và cập nhật về sản phẩm.</div>
        <form action="" class="footer-form">
            <input type="text" class="footer-input" placeholder="Email Address">
            <button class="btn btn-send">Gửi</button>
        </form>
    </div>
    <!-- Column 2 -->
    <div class="footer-col">
        <h3 class="footer-title">Sản phẩm</h3>
        <ul class="footer-list">
            <li>
                <a href="#!" class="footer-link">Đồng hồ</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Nhạc cụ điện tử</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Máy tính khoa học</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Máy tính cơ bản</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Máy in nhãn</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Máy chiếu</a>
            </li>
        </ul>
    </div>
    <!-- Column 3 -->
    <div class="footer-col">
        <h3 class="footer-title">Hỗ trợ</h3>
        <ul class="footer-list">
            <li>
                <a href="#!" class="footer-link">Cửa hàng</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Tình trạng đặt hàng</a>
            </li>
        </ul>
    </div>
    <!-- Column 4 -->
    <div class="footer-col">
        <h3 class="footer-title">Công ty</h3>
        <ul class="footer-list">
            <li>
                <a href="#!" class="footer-link">Dịch vụ khách hàng</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Điều khoản sử dụng</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Bảo mật</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Về chúng tôi</a>
            </li>
            <li>
                <a href="#!" class="footer-link">Chi nhánh</a>
            </li>
        </ul>
    </div>
    <!-- Column 5 -->
    <div class="footer-col">
        <h3 class="footer-title">CASIO Việt Nam</h3>
        <ul class="footer-list">
            <li>
                <p class="footer-label">Email:</p>
                <a href="mailto:casiovn@gmail.com" class="footer-link">chamsockhachhang@casio.com</a>
            </li>
            <li>
                <p class="footer-label">Điện thoại:</p>
                <a href="tel:0559491153" class="footer-link">0559491153</a>
            </li>
            <li>
                <p class="footer-label">Địa chỉ:</p>
                <p class="footer-text">No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi</p>
            </li>
            <li>
                <p class="footer-label">Thời gian:</p>
                <p class="footer-text">Thứ 2 - Thứ 7 | 08:00 AM - 06:00 PM</p>
            </li>
        </ul>
    </div>
</div>

<div class="footer-bottom">
    <p class="footer-copyright">© 2024 CASIO COMPUTER CO., LTD.</p>
    <div class="footer-social">
        <p>Kết nối với chúng tôi:</p>
        <a href="#!" class="footer-social_link footer-social_facebook">
            <img src="./assets/icons/facebook-f.svg" alt="" class="footer-social_icon">
        </a>
        <a href="#!" class="footer-social_link footer-social_youtube">
            <img src="./assets/icons/youtube.svg" alt="" class="footer-social_icon">
        </a>
        <a href="#!" class="footer-social_link footer-social_tiktok">
            <img src="./assets/icons/tiktok.svg" alt="" class="footer-social_icon">
        </a>
        <a href="#!" class="footer-social_link footer-social_instagram">
            <img src="./assets/icons/instagram.svg" alt="" class="footer-social_icon">
        </a>
    </div>
</div>