<div class="notice-sale">
    <div class="notice-sale_box">
        <a href="#!" class="notice-sale_item">CASIOTRON 50TH ANNIVERSARY</a>
    </div>
    <div class="notice-sale_box">
        <a href="#!" class="notice-sale_item">BABY-G 30TH ANNIVERSARY</a>
    </div>
    <div class="notice-sale_box">
        <a href="#!" class="notice-sale_item">HELLO KITTY 50TH ANNIVERSARY</a>
    </div>
</div>
<div class="nav">
    <div class="nav-box grid">
        <div class="nav-item">
            <a class="nav-logo" href="./"><img src="./assets/img/logo.svg" alt="logo" class="logo"></a>
            <div class="nav-direction">
                <ul>
                    <li><a href="./checkout.html">Đồng hồ<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a></li>
                    <li><a href="#!">Nhạc cụ điện tử<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a></a></li>
                    <li><a href="#!">Máy tính<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a></a></li>
                    <li><a href="#!">Các loại khác<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a></a></li>
                </ul>
            </div>
        </div>
        <div class="nav-item">
            <div class="form-input_box">
                <input type="text" placeholder="Từ khoá" class="form-input">
                <img src="./assets/icons/magnifying-glass-solid.svg" alt="" class="icon-search">
            </div>
            <div class="buy-box">
                <a href="" class="btn-buy">
                    <img src="./assets/icons/buy.svg" alt="" class="buy-icon">
                </a>
            </div>
            <div class="user-box">
                <img src="./assets/img/avatar.jpg" alt="" class="avatar">
                <div class="user-box_dropdown">
                    <div class="user-dropdown">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>