<div class="notice-sale">
    <div class="notice-sale_box">
        <a href="#!" class="notice-sale_item">CASIOTRON 50TH ANNIVERSARY</a>
    </div>
    <div class="notice-sale_box">
        <a href="#!" class="notice-sale_item">BABY-G 30TH ANNIVERSARY</a>
    </div>
    <div class="notice-sale_box">
        <a href="#!" class="notice-sale_item">HELLO KITTY 50TH ANNIVERSARY</a>
    </div>
</div>
<div class="nav">
    <div class="nav-box grid">
        <div class="nav-item">
            <a class="nav-logo" href="./"><img src="./assets/img/logo.svg" alt="logo" class="logo"></a>
            <div class="nav-direction">
                <ul class="nav-direction_box">
                    <li>
                        <a href="#!">Đồng hồ<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a>
                        <!-- Dropdown -->
                        <div class="nav-dropdown">
                            <div class="nav-dropdown_box">
                                <div class="nav-dropdown_inner">
                                    <div class="nav-top_menu">
                                        <ul class="nav-subnav_direction js-menu-list">
                                            <li><a href="#!" class="nav-subnav_direction-link subnav-direction_active">G-SHOCK</a></li>
                                            <li><a href="#!" class="nav-subnav_direction-link">BABY-G</a></li>
                                            <li><a href="#!" class="nav-subnav_direction-link">Thiết kế Đồng hồ Đôi</a></li>
                                            <li><a href="#!" class="nav-subnav_direction-link">EDIFICE</a></li>
                                            <li><a href="#!" class="nav-subnav_direction-link">PRO TREK</a></li>
                                            <li><a href="#!" class="nav-subnav_direction-link">SHEEN</a></li>
                                        </ul>
                                        <a href="../product.htm" class="nav-subnav_fullproduct-btn">Tất cả đồng hồ</a>
                                    </div>
                                    <div class="nav-subnav_center dp-block">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="../product.html"><img src="./assets/img/header(Truong)/product-subnav/watch/watch01.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">G-SHOCK</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch02.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Sản phẩm mới</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch03.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">MR-G</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch04.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">MR-G</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch05.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">KIM LOẠI</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch06.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">MASTER OF G-LAND</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch07.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">MASTER OF G-AIR</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch08.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">MASTER OF G-SEA</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch09.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">G-STEEL</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch10.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">G-SQUAD</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch11.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">KỸ THUẬT SỐ</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch12.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">ORIGIN</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch13.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">KIM-KỸ THUẬT SỐ</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-subnav_center">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/babyG/1.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">BGA-S29</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/babyG/2.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">BGD-5SJ</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/babyG/3.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">BGD-10K-4</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-subnav_center">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/double/watch15.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">BGA-S29</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/double/1.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">LOV 22A-7</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/double/2.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">LOV 22A-7A</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/double/3.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">LOV 23A-8A</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/double/4.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">LOV 21A-1A</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-subnav_center">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/edifice/watch16.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">ECB-200A</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-subnav_center">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/protrek/watch17.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">PRW-35-7</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/watch09.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">PRW-35-7</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-subnav_center">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/watch/sheen/watch18.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">SHEEN</a>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="nav-bottom_menu">
                                        <ul>
                                            <li><a href="#!">Sản phẩm mới</a></li>
                                            <li><a href="#!">Trang nhãn hiệu G-SHOCK</a></li>
                                            <li><a href="#!">Tìm của hàng</a></li>
                                            <li><a href="#!">Công nghệ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#!">Nhạc cụ điện tử<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a>
                        <!-- Dropdown -->
                        <div class="nav-dropdown">
                            <div class="nav-dropdown_box">
                                <div class="nav-dropdown_inner">
                                    <div class="nav-top_menu">
                                        <ul class="nav-subnav_direction">
                                            <li><a href="#!" class="nav-subnav_direction-link subnav-direction_active">Nhãn hiệu và phụ kiện</a></li>
                                        </ul>
                                        <a href="./product.html" class="nav-subnav_fullproduct-btn">Tất cả nhạc cụ điện tử</a>
                                    </div>
                                    <div class="nav-subnav_center dp-block">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/1.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Tất cả nhạc cụ điện tử</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/2.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">CELVIANO Grand Hybrid</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/3.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">CELVIANO</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/4.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Privia</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/5.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">CDP</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/6.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Casiotone</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/7.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Đàn phím mini</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/8.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">CT-X</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/edm/9.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Tuỳ chọn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-bottom_menu">
                                        <ul>
                                            <li><a href="#!">CASIO MUSIC WORLD</a></li>
                                            <li><a href="#!">Ứng dụng</a></li>
                                            <li><a href="#!">Danh mục</a></li>
                                            <li><a href="#!">Nhạc cụ điện tử AR</a></li>
                                            <li><a href="#!">Mẫu cũ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#!">Máy tính<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a>
                        <!-- Dropdown -->
                        <div class="nav-dropdown">
                            <div class="nav-dropdown_box">
                                <div class="nav-dropdown_inner">
                                    <div class="nav-top_menu">
                                        <ul class="nav-subnav_direction">
                                            <li><a href="#!" class="nav-subnav_direction-link subnav-direction_active">Máy tính khoa học</a></li>
                                            <li><a href="#!" class="nav-subnav_direction-link">Máy tính cơ bản</a></li>
                                        </ul>
                                    </div>
                                    <div class="nav-subnav_center dp-block">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/1.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Tất cả máy tính khoa học</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/2.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính đồ hoạ</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/3.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-subnav_center">
                                        <div class="nav-subnav_center-list">
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/4.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Tất cả máy tính khoa học</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/5.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính đồ hoạ</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/6.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/7.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/8.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/9.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/10.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                            <div class="nav-subnav_center-item">
                                                <a href="#"><img src="./assets/img/header(Truong)/product-subnav/computer/11.png" alt=""></a>
                                                <a href="#!" class="nav-subnav_center-title">Máy tính khoa học tiêu chuẩn</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-bottom_menu">
                                        <ul>
                                            <li><a href="#!">Softwate/Apps</a></li>
                                            <li><a href="#!">ClassPad.net</a></li>
                                            <li><a href="#!">Store Locator</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#!">Các loại khác<img src="./assets/icons/chevron-down-solid.svg" alt="" class="nav_arrow"></a>
                        <!-- Dropdown -->
                        <div class="nav-dropdown">
                            <div class="nav-dropdown_box">
                                <div class="nav-dropdown_inner">
                                    <div class="nav-top_menu">
                                        <ul class="nav-subnav_direction">
                                            <li><a href="#!" class="nav-subnav_direction-link subnav-direction_active">Máy in nhãn</a></li>
                                            <li><a href="#!">Máy chiếu</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-item">
            <div class="form-input_box">
                <input type="text" placeholder="Từ khoá" class="form-input">
                <img src="./assets/icons/magnifying-glass-solid.svg" alt="" class="icon-search">
            </div>
            <a class="btn sign-in" href="#!">Đăng nhập</a>
            <a class="btn sign-up" href="#!">Đăng ký</a>
        </div>
    </div>
</div>